
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,900);

@import "materialize.scss";


/**************
 General Layout
 *************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4 {
  color: $primary-color-light;
}
h1 {
  font-size: 2em !important;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.8em !important;
}
h3 {
  font-size: 1.6em !important;
}
h4 {
  font-size: 1.4em !important;
}
h5 {
  font-size: 1.2em !important;
}

a .material-icons {
  color: $secondary-color;
}

.btn-floating .material-icons {
  color: white;
}

/**************
 NAV
 *************/
nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-wrapper ul i {
  color: $secondary-color-lighter;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.side-nav li.logo-container {
  background: url('/images/logo_bg.jpg');
  line-height: 0;

  img {
    max-width: 50%;
    margin:25px 25%;
  }

}

/* override hiding of menu button */
@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: inline-block;
  }
}


.collection a.collection-item {
  color: $primary-color-dark;
}

.cursorPointer {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}




/**************
 MUSO loader
 *************/
.muso-loader {
  display: none;
  height: 3px;
  width: 100%;
  position: fixed;
  top:0;
  overflow: hidden;
  background-color: #ddd;
}
.muso-loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: $secondary-color;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}



/**************
 Alert message
 *************/
.success {
  background-color: $success-color;
}
.failure {
  background-color: $error-color;
}



/**************
 Songs and sets
 *************/
.song-lyrics-textarea {
  min-height: 400px !important;
  font-family: monospace;
}

.sets-edit-collection {
  .collection-item {
    padding-right: 5px !important;

  }

  .collection-item.avatar {
    min-height: 40px !important;
    .title {
      font-size: 14px !important;
    }
    .circle {
      font-size:12px !important;
      line-height: 25px !important;
      height: 25px !important;
      width: 25px !important;
    }
  }
}

.commentLine {
  font-style: italic;
  color: color('grey', 'lighten-1');
}
.chordLine {
  color: $secondary-color;
}
.sectionLine {
  color: color('grey', 'darken-2');
  font-weight: bold;
}

.wp-2-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.select-all-checkbox {
  color: $secondary-color;
}

/**************
 Home Page
 *************/
.home-page-card {
  .card-title {
    text-transform: uppercase;
    font-weight: 600;
  }
}



/**************
 Public
 *************/
.top-right.links {
    position: absolute;
    right: 10px;
    top: 18px;
}

.muso-bg {
    background: url('/images/login_bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    height: 100vh;
}

