
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,900);

// Variables
//@import "variables";
@import "materialize.scss";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* override hiding of menu button */
@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: inline-block;
  }
}

/*
#F4F4F4  dark grey
#2C2D34  almost black
#C2606F  red wine
#E9EAE9  lightgrey 
#5D9EA1  teal
#CDB5A3  brown 
#E6AD73  mustard

*/
.ws-colour-1 {
 background-color: #505160 !important;
}
.ws-colour-1-text {
 color: #505160 !important;
}
.ws-colour-2 {
 background-color: #68829E !important;
}
.ws-colour-2-text {
 color: #68829E !important;
}
.ws-colour-3 {
 background-color: #AEBD38 !important;
}
.ws-colour-3-text {
 color: #AEBD38 !important;
}
.ws-colour-4 {
 background-color: #598234 !important;
}
.ws-colour-4-text {
 color: #598234 !important;
}




//.btn, .btn-large {
//  background-color: #AEBD38;
//}
//.btn:hover, .btn-large:hover {
//  background-color: #598234;
//}

h1, h2, h3, h4 {
  color: #598234;
}
h1 {
  font-size: 2em !important;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.8em !important;
}
h3 {
  font-size: 1.6em !important;
}
h4 {
  font-size: 1.4em !important;
}
h5 {
  font-size: 1.2em !important;
}

.collection a.collection-item {
  color: #AEBD38;
}

.nav-wrapper ul i {
  color: #D0E1F9;
}

.orderHandle {
  cursor: move;
}

.cursorPointer {
  cursor: pointer;
}

.song-lyrics-textarea {
  min-height: 400px !important;
  font-family: monospace;
}

[v-cloak] {
  display: none;
}

.sets-edit-collection {
  .collection-item {
    padding-right: 5px !important;

  }

  .collection-item.avatar {
    min-height: 40px !important;
    .title {
      font-size: 14px !important;
    }
    .circle {
      font-size:12px !important;
      line-height: 25px !important;
      height: 25px !important;
      width: 25px !important;
    }
  }
}


.lyricLine {
  
}
.commentLine {
  font-style: italic;
  color: color('grey', 'lighten-1');
}
.chordLine {
  color: color('red', 'darken-2');
}
.sectionLine {
  color: color('grey', 'darken-2');
  font-weight: bold;
}

.wp-2-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.wp-loader {
  display: none;
  height: 3px;
  width: 100%;
  position: fixed;
  top:0;
  overflow: hidden;
  background-color: #ddd;
}
.wp-loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: $secondary-color;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.success {
  background-color: $success-color;
}
.failure {
  background-color: $error-color;
}